/* s.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 15px;
    margin-bottom: 10px;
    color: #333;
}

select {
    width: 20px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 6px;
    background-color: #fff;
    color: #333;
    transition: border-color 0.3s ease;
}

select:focus {
    border-color: #007BFF;
    outline: none;
}